body {
    background-color: #f7f9fb;
}

header {
    padding: 2rem;
    background-color: #31708E;
    color: #f7f9fb;
    margin-bottom: 1rem;
}

h3 {
    background-color: #5085a5;
    border-radius: 5px;
    margin: 2rem;
    min-height: 3rem;
}

footer {
    margin: 0;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #687864;
    color: #f7f9fb;
    position: relative;
}

/* Rotate labels at bottom of bar charts */

#chart-one .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

#chart-two .x.axis text {
    text-anchor: end !important;
    transform: rotate(-90deg);
}